html {
    position: relative;
    min-height: 100%;
  }

body {
  background: gray;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  color: gray;
}

div {
  margin: auto;
}

.header {
  width: 645px;
  padding: 25px;
  border: 0;
  background: #E9E9E9;
  margin-bottom: 5px;
}

.nav {
  width: 645px;
  padding: 25px;
  border: 0;
  background: #E9E9E9;
  margin-bottom: 5px;
}

.container {
  width: 645px;
}

.section {
  float: left;
  margin: 0;
  width: 354px;
  padding: 2px;
  background: #E9E9E9;
  clear: both;
}

.aside {
  float: right;
  padding: 25px;
  background: #E9E9E9;
}

.article {
  margin-top: 5px;
  padding: 10px;
  margin: 10px;
  background: gray;
  color: #E9E9E9;
}

.h1 {
  padding: 2px;
  background: #E9E9E9;
  color: gray;
  margin-bottom: 4px;
  font-weight: thick;
}

.p {
  padding: 2px;
  background: #E9E9E9;
  color: gray;
}

.footer {
  clear: both;
  width: 645px;
  padding: 25px;
  background: #E9E9E9;
margin: auto;
   position: absolute;
    bottom: 0;
    height: 20px;
    
}

