body {
  background: gray;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  color: gray;
}

div {
  margin: auto;
}

.header {
  width: 645px;
  padding: 25px;
  border: 0;
  background: #fff;
  margin-bottom: 5px;
}

.nav {
  width: 645px;
  padding: 25px;
  border: 0;
  background: #fff;
  margin-bottom: 5px;
}

.container {
  width: 645px;
}

.section {
  float: left;
  margin: 0;
  width: 354px;
  padding: 2px;
  background: #fff;
  clear: both;
}

.aside {
  float: right;
  padding: 25px;
  background: #fff;
}

.article {
  margin-top: 5px;
  padding: 10px;
  margin: 10px;
  background: gray;
  color: #fff;
}

.h1 {
  padding: 2px;
  background: #fff;
  color: gray;
  margin-bottom: 4px;
}

.p {
  padding: 2px;
  background: #fff;
  color: gray;
}

.footer {
  clear: both;
  width: 645px;
  padding: 25px;
  background: #fff;
}